extends layout

block content
  h1= title
  p
   - let result=results
    div(class="container-fliud")
        div(class="row")
            each item,ind in result 
                - let destination = `dispatch(\"/Books/update?id=${item._id}\")`
                div(class="col-sm-2" class="m-1")  
                    p Name  #{item.Book_Name}
                    p $   #{item.Book_rate}
                    p Author  #{item.Author}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
    script. 
        function dispatch(path){
        console.log(path);
        window.location.href=path;
        }